In [ ]:
# 1, 1, 1, 2, 3, 4, 6, 9, 13, 19, 28,41,60,88,129,189

In [ ]:
def lol(number):
    a = [a for a in [1]*20]; print(a)
lol(4)

In [ ]:
def lol2(number2):
    a = [b for b in range(0,16)]; print(a[number2-1]+a[number2-3])
lol2(0)

In [ ]:
b = lambda number : 1 if number < 3 else b(n-1)+b(n-3)
b

In [1]:
import QualityList

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('data.csv')
QualityList.factorQuality(data)

*TradeID 有1000個眾數

           不同值個數 空值個數   空值比例                          次數最多的值 最多出現次數    不平衡度
TradeID     1000    0  0.00%  A_AGS1484858339_1246313_A1EE5E      1   0.10%
Appid          2    1  0.10%                             AGS    999  99.90%
Channel        2    8  0.80%                             iOS    992  99.20%
RoleName     557   10  1.00%                    1308291_1000     10   1.00%
OriDoller      2   11  1.10%                             TWD    989  98.90%
CreateDate   850   12  1.20%                 2017/1/21 19:07      4   0.40%