In [1]:
import numpy as np
import pandas as pd

In [127]:
data = pd.read_csv('data.csv')

In [128]:
data

,TradeID,DBVersion,Appid,Channel,UID,ServerID,RoleName,ItemPrice,OriPrice,OriDoller,GamePoint,CreateDate
0,A_AGS1484858339_1246313_A1EE5E,3.0,AGS,iOS,1246313.0,NaN,1246313_1000,300.0,300.0,TWD,225.0,2017/1/19 20:38
1,A_AGS1484858430_1246313_0CE3D2,3.0,AGS,iOS,1246313.0,NaN,1246313_1000,590.0,590.0,TWD,460.0,2017/1/19 20:40
2,A_AGS1484858453_1246313_8E48D6,3.0,AGS,iOS,1246313.0,NaN,1246313_1000,150.0,150.0,TWD,110.0,2017/1/19 20:40
3,A_AGS1484858509_1246772_FDDE06,3.0,AGS,iOS,1246772.0,NaN,1246772_1000,2990.0,2990.0,TWD,2550.0,2017/1/19 20:41
4,A_AGS1484859574_1246832_406B44,3.0,AGS,iOS,1246832.0,NaN,1246832_1000,2990.0,2990.0,TWD,2550.0,2017/1/19 20:59
...,...,...,...,...,...,...,...,...,...,...,...,...
995,A_AGS1485147104_1317574_D5C962,3.0,AGS,iOS,1317574.0,NaN,1317574_1000,150.0,150.0,TWD,110.0,2017/1/23 04:51
996,A_AGS1485147127_1317574_33E645,3.0,AGS,iOS,1317574.0,NaN,1317574_1000,150.0,150.0,TWD,110.0,2017/1/23 04:52
997,A_AGS1485148577_1302485_25E557,3.0,AGS,iOS,1302485.0,NaN,1302485_1000,590.0,590.0,TWD,0.0,2017/1/23 05:16
998,A_AGS1485148718_1302485_2B950E,3.0,AGS,iOS,1302485.0,NaN,1302485_1000,590.0,590.0,TWD,460.0,2017/1/23 05:18
999,A_AGS1485150866_1295569_17C7F9,3.0,AGS,iOS,1295569.0,NaN,1295569_1000,590.0,590.0,TWD,0.0,2017/1/23 05:54

In [224]:
def factorQuality(data):
    tb = data.select_dtypes(include=object)
    df = pd.DataFrame()
    for i in range(len(tb.columns)):
        coldata = tb.iloc[:,i]
        uniqueCount = len(set(coldata))
        naCount = np.sum(coldata.isnull())
        naPercentage = '{0:.2%}'.format(naCount / len(coldata))
        if len(coldata.mode()) > 1: 
            print("*%s 有%i個眾數" % (coldata.name, len(coldata.mode())))
            mostAppear = coldata.mode()[0]
        else:
            mostAppear = coldata.mode()[0]
        mostAppearCount = np.sum(coldata == mostAppear)
        unbalence = '{0:.2%}'.format(mostAppearCount / len(coldata))
        ser = pd.Series([uniqueCount, naCount, naPercentage, mostAppear,mostAppearCount, unbalence], index=['不同值個數','空值個數','空值比例','次數最多的值','最多出現次數','不平衡度'])
        df = df.append(pd.DataFrame(ser).T)
    df.index = tb.columns
    return(df)

In [225]:
factorQuality(data)

*TradeID 有1000個眾數

           不同值個數 空值個數   空值比例                          次數最多的值 最多出現次數    不平衡度
TradeID     1000    0  0.00%  A_AGS1484858339_1246313_A1EE5E      1   0.10%
Appid          2    1  0.10%                             AGS    999  99.90%
Channel        2    8  0.80%                             iOS    992  99.20%
RoleName     557   10  1.00%                    1308291_1000     10   1.00%
OriDoller      2   11  1.10%                             TWD    989  98.90%
CreateDate   850   12  1.20%                 2017/1/21 19:07      4   0.40%

In [227]:
%%timeit
factorQuality(data)

*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
*TradeID 有1000個眾數
24.1 ms ± 636 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [239]:
def numsDataQuality(data):
    tb = data.select_dtypes(exclude=object)
    df = pd.DataFrame()
    for i in range(len(tb.columns)):
        coldata = tb.iloc[:,i]
        uniqueCount = len(set(coldata))
        naCount = np.sum(coldata.isnull())
        naPercentage = '{0:.2%}'.format(naCount / len(coldata))
        if len(coldata.mode()) > 1: 
            print("*%s 有%i個眾數" % (coldata.name, len(coldata.mode())))
            mostAppear = coldata.mode()[0]
        else:
            mostAppear = coldata.mode()[0]
        mostAppearCount = np.sum(coldata == mostAppear)
        unbalence = '{0:.2%}'.format(mostAppearCount / len(coldata))
        minNum = np.min(coldata)
        maxNum = np.max(coldata)
        meanNum = np.mean(coldata)
        stdev = np.std(coldata)
        minus3std = (meanNum - 3 * stdev)
        plus3std = (meanNum + 3 * stdev)
        ser = pd.Series([uniqueCount, naCount, naPercentage, mostAppear,mostAppearCount, unbalence, minNum, maxNum, meanNum, stdev, minus3std, plus3std], index=['不同值個數','空值個數','空值比例','次數最多的值','最多出現次數','不平衡度','最小值','最大值','平均值','標準差','M-3','M+3'])
        df = df.append(pd.DataFrame(ser).T)
    df.index = tb.columns
    return(df)

In [241]:
numsDataQuality(data)

*ServerID 有2個眾數

,不同值個數,空值個數,空值比例,次數最多的值,最多出現次數,不平衡度,最小值,最大值,平均值,標準差,M-3,M+3
DBVersion,3,2,0.20%,3,998,99.80%,3,3,3,0,3,3
UID,568,10,1.00%,1.30829e+06,10,1.00%,1.17309e+06,1.33287e+06,1.27046e+06,28577.6,1.18472e+06,1.35619e+06
ServerID,998,996,99.60%,1,2,0.20%,1,2,1.5,0.5,0,3
ItemPrice,21,15,1.50%,590,478,47.80%,150,2990,728.975,572.337,-988.035,2445.98
OriPrice,14,8,0.80%,590,483,48.30%,150,2990,724.244,566.739,-975.973,2424.46
GamePoint,15,8,0.80%,0,375,37.50%,0,2550,406.885,576.965,-1324.01,2137.78